version: '3.1'

services:

  db:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
    - "3306:3306"
    environment:
      MYSQL_DATABASE: alertsnitch
      MYSQL_ROOT_PASSWORD: "password"
